<html>

<head>
    {{ head }}

    <link rel="stylesheet" href="app-style.css" />
</head>

<body class="app">
    <header class="app__header">
        <img
            src="assets/favicon-32x32.png"
            class="app__header-icon"
        />
        <a
            id="app_headerLink"
            class="app__header-link"
        ></a>
        <button
            id="app_headerClose"
            class="app__header-close"
            onclick="hideBar()"
            aria-label="hide more projects bar"
        >
            &times;
        </button>
    </header>

    <script>
        const TITLE_KEBAB = "{{ title-kebab }}";
    </script>
    <script src="app-script.js"></script>

    <iframe
        class="app__frame"
        src="{{ url }}"
        allowfullscreen
        credentialless
    ></iframe>
</body>

</html>