<html>

<head>
    {{ head }}

    <link rel="stylesheet" href="app-style.css" />
</head>

<body class="app">
    <header class="app__header">
        <img
            src="assets/favicon-32x32.png"
            class="app__header-icon"
        />
        <a
            id="backLink"
            class="app__header-link"
        ></a>
        <button
            class="app__header-close"
            onclick="document.body.classList.add('app--hide-header')"
            aria-label="hide more projects bar"
        >
            &times;
        </button>
    </header>

    <script>
        console.log(window.location);
        const
            EL_LINK = document.getElementById('backLink'),
            HAS_BACK = window.location.href.indexOf('?back') !== -1;
        EL_LINK.innerText = HAS_BACK ? 'Back to projects' : 'More projects';
        EL_LINK.href = HAS_BACK ? './#{{ title-kebab }}?back' : '.';
    </script>

    <iframe
        class="app__frame"
        src="{{ url }}"
        allowfullscreen
        credentialless
    ></iframe>
</body>

</html>