@use 'vars' as *;


//
// Text
//

@mixin header-1 {
    font-size: $f-size-h1;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: $f-fam-title;
    color: $c-text-l;
}

@mixin header-2 {
    font-size: $f-size-h2;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: $f-fam-title;
    color: $c-text-l;
}

@mixin header-3 {
    font-size: $f-size-h3;
    font-weight: normal;
    letter-spacing: 3px;
    font-family: $f-fam-title;
    color: $c-text-l;
}

@mixin body-title {
    margin: 0 0 2rem;
    font-size: $f-size-h4;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: $f-fam-title;
    color: $c-text-d;
}

@mixin body-text {
    font-size: $f-size-bm;
    font-weight: normal;
    font-family: $f-fam-body;
    color: $c-text-d;
}


//
// Buttons and links
//

@mixin button-no-underline {
    &:focus-visible {
        outline: 2px solid $c-text-l;
        outline-offset: 0.5rem;
    }
}

@mixin button-underline {
    @include button-no-underline;
    box-shadow: inset 0 0 0 0 currentColor;
    transition: box-shadow $ani-sh;

    &:hover,
    &:focus {
        box-shadow: inset 0 #{ $w-stroke-underline * -1 } 0 0 currentColor;
    }
}

@mixin body-link {
    @include body-text;
    font-size: $f-size-bl;
    padding-bottom: 0.25rem;
    color: $c-text-link;
    text-decoration: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 currentColor;
    transition: box-shadow $ani-sh;

    &:hover,
    &:focus {
        box-shadow: inset 0 -3px 0 0 currentColor;
    }

    &:focus-visible {
        outline: 2px solid $c-text-l;
        outline-offset: 0.5rem;
    }
}

@mixin caret-down {
    position: absolute;
    left: calc(50% - 1rem);
    padding: 0.5rem;
    border: solid currentColor;
    border-width: 0 3px 3px 0;
    border-bottom-right-radius: 0.25rem;
    rotate: 45deg;
    translate: 0 0;
    transition: translate $ani-lg;
}
@mixin caret-down-hover {
    translate: 0 1rem;
}


//
// Layouts
//

@mixin layout-iso() {
    position: relative;
    aspect-ratio: 1;

    & > * {
        position: absolute;
        inset: 0 25% 50%;

        @for $i from 1 through 3 {
            &:nth-child(#{ $i }) {
                opacity: 1;
                transition:
                    transform 1000ms,
                    _if($i == 1, opacity 1000ms);
                transform:
                    rotate(#{ 30deg * _if($i == 2, 1, -1) })
                      skew(#{ 30deg * _if($i == 3, -1, 1) })
                    scaleY(0.864)
                    _if($i == 2, translate(-50%, 100%))
                    _if($i == 3, translate(50%, 100%));
            }
        }
    }

    // &:hover {
    //     & > :nth-child(1) {
    //         transform:
    //             translateY(50%)
    //             rotate(-30deg)
    //               skew( 30deg)
    //             scaleY( 0.864);
    //         opacity: 0;
    //     }

    //     & > :nth-child(2) {
    //         transform: translate(-50%, 50%);
    //     }

    //     & > :nth-child(3) {
    //         transform: translate(50%, 50%);
    //     }
    // }
}


//
// Utility functions
//

@function _if($cond, $if-true, $if-false: null) {
    @if ($cond) {
        @return $if-true;
    } @else {
        @return $if-false;
    }
}

@mixin frame($color: red) {
    outline: 2px solid $color;
    outline-offset: -4px;
}