@use 'vars' as *;
@use 'mixins' as *;

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow: hidden;
}

.app {
    $h-header-inner: 2rem;
    $w-header-pad: 0.75rem;
    $h-header-outer: $h-header-inner + (2 * $w-header-pad); 

    &.#{ $cl-page-closing } &__header {
        margin-top: -1 * $h-header-outer;
        pointer-events: none;
        transition: margin-top $dur-sh;
    }

    &.#{ $cl-page-inactive } &__header {
        display: none
    }

    &.#{ $cl-page-closing } &__frame {
        height: 100vh;
    }

    &__header {
        @include page-background;

        height: $h-header-inner;
        display: flex;
        align-items: end;
        justify-content: end;
        gap: 1rem;
        padding: $w-header-pad 1rem;

        &-icon {
            width: $h-header-inner;
            height: $h-header-inner;
        }

        &-link {
            @include button-underline-sm;

            font-size: $f-size-bm;
            font-family: $f-fam-title;
            color: $c-text-l;
            text-decoration: none;
            translate: 0 0.25rem;

            &:hover:not(:active) {
                translate: 0 0;
            }

            &:focus-visible {
                outline-offset: 0.25rem;
            }
        }
        
        &-close {
            @include focus-outline;

            width: $h-header-inner;
            height: $h-header-inner;
            padding: 0;
            border: none;
            border-radius: 100%;
            margin-left: auto;
            color: $c-text-l;
            font-size: 1.5rem;
            cursor: pointer;
            background: unset;
            
            &:focus-visible {
                outline-offset: 0.25rem;
            }
        }
    }

    &__frame {
        width: 100vw;
        height: calc(100vh - #{ $h-header-outer });
        padding: 0;
        border: none;
        margin: 0;
        transition: height $dur-sh;
    }
}