@use 'vars' as *;
@use 'mixins' as *;

$row-overlap: 18vh;

.block-layout {
    $w-layout-grid-size-sm: 2;
    $w-layout-grid-size-lg: 3;
    $w-layout-lg: $w-page-max;
    $w-layout-sm: $w-page-max * 0.75;
    $w-layout-pad-top: $w-page-pad;
    $w-layout-pad-bottom: 4rem;

    display: grid;
    grid-template-columns: repeat($w-layout-grid-size-sm, 1fr);
    max-width: $w-layout-sm;
    padding: $w-layout-pad-top $w-page-pad $w-layout-pad-bottom;
    margin: 0 auto;

    &:has(&__slot:nth-child(5)) {
        grid-template-columns: repeat($w-layout-grid-size-lg, 1fr);
        max-width: $w-layout-lg;
    }

    &__slot {
        width: calc(min(100vw, #{ $w-layout-sm }) / #{ $w-layout-grid-size-sm });
        height: calc(
            ((100vh - #{ $w-layout-pad-top + $w-layout-pad-bottom }) / #{ $w-layout-grid-size-sm }) -
            (min(100vw, #{ $w-layout-sm }) / #{ $w-layout-grid-size-sm * 8 })
        );

        @for $i from 1 through 6 {
            &:nth-child(#{ ($i * 2) }),
            &:nth-child(#{ ($i * 2) - 1 }) {
                z-index: $z-page - $i;
            }
        }
    }

    &__slot:has(&__item:focus-visible) {
        z-index: $z-focus-visible;
    }

    &:has(&__slot:nth-child(5)) &__slot {
        width: calc(min(100vw, #{ $w-layout-lg }) / #{ $w-layout-grid-size-lg });
        height: calc(
            ((100vh - #{ $w-layout-pad-top + $w-layout-pad-bottom }) / #{ $w-layout-grid-size-lg }) -
            (min(100vw, #{ $w-layout-lg }) / #{ $w-layout-grid-size-lg * 8 })
        );
    }
    
    &__item {
        @include layout-iso;
        @include focus-outline;

        display: inline-block;
        width: calc(100% - 1rem);
        transition:
            scale $dur-page-open,
            opacity $dur-sh,
            translate $dur-lg;

        &:hover,
        &:focus {
            $hover-shift: 0.75rem;
            translate: #{ $hover-shift * 2 } $hover-shift;
        }

        & > * {
            border: 2px solid $c-text-l;
            background-color: $c-bg-l;
        }

        &-image {
            z-index: 1;
            background: 
                var(--bg-url) center / calc(100% - 3rem) no-repeat,
                var(--bg-color, #{ $c-bg-l });
        }

        &-label {
            @include header-3;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            text-align: center;
            color: $c-text-l;
            text-decoration: none;
            background-color: $c-bg-l;

            &--sm {
                @include header-3--sm;
            }

            &--xs {
                font-size: 1.5rem;
            }
        }
    }

    .page.#{ $cl-page-sub-opening } &__item:focus {
        scale: 2;
        opacity: 0;
        z-index: $z-box-top;
    }

    .page.#{ $cl-page-sub-opening } &__item:not(:focus) {
        translate: -200vw -100vw;
    }
}