@use 'vars' as *;
@use 'mixins' as *;

.main {
    position: relative;

    //
    // Invisible proxy buttons
    //

    &__topic {
        height: 50vh;

        &-button {
            position: absolute;
            z-index: $z-buttons;
            width: 35rem;
            height: 10rem;
            padding-bottom: 0.5rem;
            border: none;
            translate: -50% 0;
            rotate: -28deg;
            font-size: 60px;
            font-family: monospace;
            letter-spacing: 30px;
            color: transparent;
            background: none;
            cursor: pointer;

            &:focus-visible {
                outline: 2px solid $c-text-l;
            }
        }
    }
}

.page {
    display: none;

    .#{ $cl-page-open } {
        display: block;
    }

    &__container {
        position: fixed;
        inset: 0;
        z-index: $z-page;
        padding: 2rem;
        overflow: auto;
        pointer-events: none;
    }
    
    &__item {
        display: flex;
        gap: 1rem;
        max-width: 80rem;
        margin: 0 auto 2rem;
    }
}