@use 'vars' as *;
@use 'mixins' as *;

.canvas {
    &__sky,
    &__sea {
        position: fixed;
        top: 0;
        left: 50%;
        translate: -50% 0;
    }

    &__sky {
        z-index: $z-canvas-bg;
    }

    &__sea {
        z-index: $z-canvas-fg;
        transition:
            top ease-out $ani-sh;

        .#{ $cl-body-page-open } & {
            top: (100vh - $height-min-sea) * 0.75;
            pointer-events: none;
        }
    }
}