@use 'vars' as *;
@use 'mixins' as *;

.canvas {
    &__sky,
    &__sea {
        position: fixed;
        top: 0;
        left: 50%;
        translate: -50% 0;
    }

    &__sky {
        z-index: $z-canvas-bg;
    }

    &__sea {
        z-index: $z-canvas-fg;
        transition: top ease-out $dur-page-open;

        body.#{ $cl-transition-closing } & {
            top: 100vh;
            pointer-events: none;
        }
    }
}