@use 'vars' as *;
@use 'mixins' as *;


html {
    font-size: $f-size-base;
    background:
        linear-gradient(
            $c-bg-d 0,
            $c-bg-l 75vh,
            $c-bg-l
        ),
        $c-bg-l;
}

body {
    overflow-x: hidden;
    font-family: $f-fam-title;
    max-width: $w-page-max;
    height: 480vh;
    padding: $w-page-pad;
    margin: 0 auto;
    
    &.#{ $cl-body-page-open } {
        overflow: hidden;
    }
}

button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

*::selection {
    color: $c-text-select;
    background-color: $c-bg-select;
}
