@use 'mixins' as *;
@use 'vars' as *;


html {
    overflow-y: scroll;
    font-size: $f-size-base;
    background:
        linear-gradient(
            $c-bg-d 0,
            $c-bg-l 75vh,
            $c-bg-l
        ),
        $c-bg-l;
}

body {
    @include scrollbar;
    overflow-x: hidden;
    margin: 0;
    font-family: $f-fam-title;
    height: 100vh + $h-main-section-gap + (6 * ($h-main-section + $h-main-section-gap));
}

.page-width-container {
    max-width: $w-page-max;
    padding: $w-page-pad;
    margin: 0 auto;
}

a, button {
    &:focus-visible {
        outline: none;
    }
}

table,
td,
th {
    color: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

*::selection {
    color: $c-text-select;
    background-color: $c-bg-select;
}
