@use "mixins" as *;
@use "vars" as *;

@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700');

$cv-f-primary: $f-fam-body;
$cv-f-secondary: 'Quattrocento', serif;
$cv-f-title: 2.625rem;
$cv-f-head: 1.125rem;
$cv-f-sub-head: 1rem;
$cv-f-sub-sub-head: 0.6875rem;
$cv-f-body: 0.875rem;

$cv-c-primary: #4ebed4;
$cv-c-font: #f0f0f0;
$cv-c-bg: #21232d;

$cv-max: 65rem;

.experience {
    height: calc(100lvh - 4rem);
    padding-bottom: 4rem;

    &__print {
        max-width: $cv-max;
        margin: 0 auto;
        text-align: right;
        
        &-button {
            @include body-title;
            @include button-underline;
            
            position: relative;
            z-index: $z-page-close + 1;
            margin-right: 1rem;
        }
    }

    &__close::before {
        $w-caret: 2.25rem;

        content: '';
        position: absolute;
        bottom: 1.5rem; 
        left: calc(50% - #{ $w-caret });  
        padding: $w-caret;
        border-radius: 100%;
        background: $c-bg-l;
        transition: bottom $dur-lg;
    }

    &__close:hover,
    &__close:focus {
        &::before {
            bottom: 0.5rem;
        }
    }
}

.cv {
    $cv-page-pad: 3rem;

    width: calc(100% - #{ ($w-page-pad + $cv-page-pad) * 2 });
    max-width: $cv-max - 6rem;
    padding: $cv-page-pad $cv-page-pad #{ $cv-page-pad + 1 };
    margin: 3rem auto 1rem;
    font-family: $cv-f-primary;
    font-size: $cv-f-body;
    color: $cv-c-font;
    background: $cv-c-bg;

    a:hover {
        text-decoration: underline;
    }

    &__header {
        text-align: center;
        
        &-title {
            margin-bottom: 0.25rem;
            font-size: $cv-f-title;
            font-weight: 400;
            line-height: 0.875;
            
            &--thin {
                font-weight: 100;
            }
        }
        
        &-subtitle {
            color: $cv-c-primary;
            font-size: $cv-f-head;
            font-weight: 600;
            font-family: $cv-f-secondary;
            line-height: 1.5;
        }

        &-links {
            display: flex;
            flex-wrap: wrap;
            gap: 0.875rem;
            justify-content: center;
            margin-top: 0.25rem;

            &-link {
                position: relative;
                padding-left: 1.125rem;

                font-weight: 300;

                &-icon {
                    position: absolute;
                    top: 1px;
                    right: calc(100% - 0.75rem);
                }
            }
        }
    }

    &__section {
        &-sub {
            display: grid;
            grid-template-columns: auto auto;
            padding-bottom: 1rem;
            align-items: center;
        }

        &-title {
            margin: 1rem 0 0.375rem;
            font-size: $cv-f-head;
            font-weight: 600;
            color: $cv-c-primary;
            font-family: $cv-f-secondary;
        }
        
        &-subhead-title {
            margin: 0.25rem 0;
            font-size: $cv-f-sub-head;
            font-weight: 600;
            font-family: $cv-f-secondary;
        }
        
        &-subhead-subtitle {
            margin: 0;
            font-size: $cv-f-sub-sub-head;
            font-family: $cv-f-secondary;
            letter-spacing: 0.25px;
            text-transform: uppercase;
            
            &:first-letter {
                font-size: $cv-f-sub-sub-head + 0.25rem;
            }
        }

        &-aside {
            text-align: right;
            font-style: italic;
            
            &-location {
                display: block;
                color: $cv-c-primary;
            }
            
            &-date {
                display: block;
            }
        }
        
        &-line {
            grid-column: span 2;
            position: relative;
            padding-left: 0.875rem;
            margin: 0.375rem 0 0;
            
            &:after {
                content: '';
                position: absolute;
                left: 0.25rem;
                top: 0.5rem;
                background-color: $cv-c-font;
                border-radius: 100%;
                padding: 0.125rem;
            }
        }
        
        &-table {
            grid-column: span 2;
            justify-self: start;

            th {
                text-align: right;
                white-space: nowrap;
                font-weight: bold;
                font-family: $cv-f-secondary;
            }
            
            th, td {
                vertical-align: top;
                padding: 0.125rem 0.5rem;
            }

            td {
                display: flex;
                flex-wrap: wrap;
                gap: 0.25rem;

                & > span {
                    margin-right: 0.75rem;
                }

                :nth-child(1) {
                    width: 4rem;
                }
                :nth-child(2) {
                    width: 4rem;
                }
                :nth-child(3) {
                    width: 3rem;
                }
            }
            
            &--sub {
                margin: 0.5rem 4rem 0.5rem 2rem;
                
                th {
                    font-family: $cv-f-primary;
                }
            }
        }
    }
}

@include viewport(0, md) {
    .experience {
        padding-bottom: 6rem;
    }
    
    .cv {
        $cv-page-pad: 1.5rem;
    
        width: calc(100% - #{ ($w-page-pad + $cv-page-pad) * 2 });
        max-width: $cv-max - 6rem;
        padding: 3rem $cv-page-pad;

        &__header {
            &-links {
                margin: 1rem 0 2rem;
            }
        }

        &__section {
            &-subhead,
            &-aside {
                margin-bottom: 0.75rem;
            }

            &-table {
                &--sub {
                    margin: 0.5rem 1rem 0.5rem 0;
                }
            }
        }
    }
}

@media print {
    @page {
        margin: 0cm !important;
    }

    html:has(.experience:not(.#{ $cl-page-inactive })) {
        width: 100%;
        background: $cv-c-bg;

        body {
            height: auto;
        }

        *::-webkit-scrollbar {
            width: 0;
        }

        .page,
        .canvas__sky,
        .canvas__sea,
        #DEBUG {
            display: none;
        }

        .cv,
        .experience {
            max-width: unset;
            padding: 0;
            margin: 0;
        }

        .experience {
            position: relative;
            display: block;
            height: auto;

            zoom: 75%;
            print-color-adjust: exact !important;

            &__close,
            &__print {
                display: none;
            }
        }

        .cv {
            min-height: calc(100% - 4rem);
            padding: 3rem 2rem 1rem;
        }
    }
}