@use 'vars' as *;
@use 'util' as *;
@use 'mixins' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(to-vh(1 - $h-min-sea) - $w-page-pad);
    padding-top: to-vh($h-min-sea);
    transition:
        translate $dur-page-open,
        opacity $dur-page-open;

    .#{ $cl-page-closing } > & {
        translate: 0 75svh;
        opacity: 0;
    }

    .#{ $cl-page-inactive } > & {
        display: none;
    }

    &__title {
        display: contents;

        &--primary {
            @include header-1;
        }
        
        &--secondary {
            @include header-2;
        }
    }

    &__nav {
        display: contents;

        &-links {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            width: 100%;
            max-width: 28.5rem;
            margin: to-vh($h-min-sea) auto 0;
            justify-content: space-between;
            pointer-events: none;

            &-button {
                @include header-3;
                @include button-underline;

                position: relative;
                z-index: $z-buttons;
                pointer-events: all;
            }
        }

        &-more {
            @include caret-button-text;
            @include header-3;

            position: relative;
            left: 0;
            margin: auto 0 2rem;
            font-weight: $f-weight-bold;
            letter-spacing: 3px;
            color: $c-bg-l;
        }
    }

    @include viewport(0, sm) {
        height: calc(#{ 100svh - 15svh } - #{ $w-page-pad });
        padding-top: 15svh;

        &__title {
            &--primary,
            &--secondary {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 22.5rem;
            }

            &--secondary {
                margin: 1.5rem 0 2.5rem;
            }
        }

        &__nav {
            &-links {
                margin-top: 2rem;
                justify-content: space-around;
            }
            &-more {
                margin-bottom: 1rem;
            }
        }
    }
}
