@use 'vars' as *;
@use 'mixins' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .#{ $cl-body-page-open } & {
        visibility: hidden;
    }

    &__title {
        display: contents;

        &--primary {
            @include header-1;
        }
        
        &--secondary {
            @include header-2;
        }
    }

    &__nav {
        display: contents;

        &-links {
            display: flex;
            margin: $h-min-sea auto;
            width: 32rem;
            justify-content: space-between;
            pointer-events: none;

            &-button {
                @include header-3;
                @include button-underline;

                position: relative;
                z-index: $z-buttons;
                padding-bottom: 0.5rem;
                pointer-events: all;
            }
        }

        &-more {
            position: relative;
            z-index: $z-buttons;
            text-align: center;
            pointer-events: none;
            margin: auto 0 10vh;

            &-button {
                @include header-3;
                @include button-no-underline;

                color: $c-bg-l;
                font-weight: 600;
                pointer-events: all;

                &::after {
                    @include caret-down();
                    content: '';
                    bottom: -2rem;
                }

                &:hover::after {
                    @include caret-down-hover();
                }
            }
        }
    }
}
