@use 'sass:math' as *;
@use 'vars' as *;
@use 'mixins' as *;

.main {
    display: flex;
    flex-direction: column;

    body.#{ $cl-page-inactive } & {
        display: none;
    }
    
    &__section {
        width: 50%;
        height: $h-main-section;
        margin-top: $h-main-section-gap * 0.97;
        text-align: center;

        // Invisible proxy buttons
        &-button {
            @include focus-outline;
            
            position: relative;
            z-index: $z-buttons;
            padding: 2rem 2rem 4rem;
            border: none;
            rotate: $label-angle;
            font-family: $f-fam-title;
            font-size: $f-size-section;
            letter-spacing: $label-letter-space;
            line-height: $label-line-height;
            color: transparent;
            background: none;
            cursor: pointer;

            &::selection {
                color: transparent;
            }

            &.#{ $cl-main-section-button-disabled } {
                pointer-events: none;

                &:focus-visible {
                    outline: 0px;
                }

                &::selection {
                    background-color: transparent;
                }
            }
        }
    }

    @include viewport(0, md) {
        align-items: center;

        &__section {
            width: 100%;
        }
    }

    @include viewport(md) {
        align-items: start;

        &__section {
            &:nth-child(2n) {
               align-self: end;
            }
        }
    }
}