@use 'sass:math' as *;
@use 'vars' as *;
@use 'mixins' as *;

.main {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 14rem;
    
    &__topic {
        width: 50%;
        height: 50vh;
        text-align: center;

        &:nth-child(2n) {
           align-self: end;
        }

        .#{ $cl-body-page-open } & {
            display: none;
        }

        // Invisible proxy buttons
        &-button {
            position: relative;
            z-index: $z-buttons;
            padding: 1rem 2rem 2rem;
            border: none;
            rotate: -28deg;
            font-family: $f-fam-title;
            font-size: $f-size-section;
            letter-spacing: #{ (2 * $w-iso-scale * hypot(2, 1)) - 1rem };
            color: transparent;
            background: none;
            cursor: pointer;

            &:focus-visible {
                outline: 2px solid $c-text-l;
            }
        }
    }
}