@use 'vars' as *;
@use 'mixins' as *;

.page {
    @include scrollbar;
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-page;
    height: 100vh;
    overflow: hidden;
    transition:
        opacity $dur-lg,
        bottom $dur-lg;

    &.#{ $cl-transition-closing } {
        opacity: 0;
        bottom: 100vh;
    }

    &--sub.#{ $cl-transition-closing } {
        bottom: 0;
    }

    &.#{ $cl-transition-sub-opening } {
        opacity: 0;
    }

    &.#{ $cl-transition-inactive } {
        display: none;
    }

    &__close {
        position: fixed;
        left: 0;
        right: 0;
        bottom:  0;
        z-index: $z-page-close;
        height: $h-min-sea;
        text-align: center;
        transition: opacity $dur-lg ease $dur-sh;
        
        &-caret {
            @include caret-down-lg;

            color: $c-text-l;
            top: 3.25rem;
        }

        &:hover &-caret,
        &:focus-visible &-caret {   
            @include caret-down-hover;
        }

        &:focus-visible {
            outline: none;
        }

        &:focus-visible &-caret::after {
            @include outline;

            content: '';
            position: absolute;
            inset: -1rem;
            rotate: 45deg;
        }
    }

    &.#{ $cl-transition-closing } &__close {
        opacity: 0;
    }
}