@use 'vars' as *;
@use 'mixins' as *;

.page {
    @include scrollbar;
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-page;
    height: 100vh;
    overflow-y: auto;
    transition:
        opacity $dur-lg,
        bottom $dur-lg;

    &.#{ $cl-page-closing } {
        opacity: 0;
        bottom: 100vh;
    }

    &--sub.#{ $cl-page-closing } {
        bottom: 0;
    }

    &.#{ $cl-page-sub-opening } {
        opacity: 0;
    }

    &.#{ $cl-page-inactive } {
        display: none;
    }

    &--main {
        opacity: 0;

        &.#{ $cl-page-post-fouc } {
            opacity: 1;
        }

        &.#{ $cl-page-inactive } {
            overflow: hidden;
        }
    }

    &__close {
        @include caret-button-empty;
        color: $c-text-l;
    }
}