@use 'vars' as *;
@use 'mixins' as *;

.page {
    &--main {
        height: 100vh + $h-main-section-gap + (6 * ($h-main-section + $h-main-section-gap));
        overflow: hidden;

        html:has(&.#{ $cl-page-closing }) {
            overflow: hidden;
        }
    }

    &--topic,
    &--project {
        @include scrollbar;

        position: fixed;
        inset: 0;
        z-index: $z-page;
        overflow: auto;
        transition:
            opacity $dur-lg,
            translate $dur-lg;

        &.#{ $cl-page-closing },
        &.#{ $cl-page-sub-opening } {
            opacity: 0;
            overflow: hidden;
        }

        &.#{ $cl-page-inactive } {
            display: none;
        }
    }

    &--topic {
        &.#{ $cl-page-closing } {
            translate: 0 -100vh;
        }
    }

    &__close {
        @include caret-button-empty;
        color: $c-text-l;
    }

    // Prevent content shift on scrollbar hide
    @include viewport(md) {
        &--main.#{ $cl-page-closing },
        &--long.#{ $cl-page-closing },
        &--long.#{ $cl-page-sub-opening } {
            padding-right: $w-scrollbar;
        }
    }
}