@use 'sass:math' as *;
@use 'vars' as *;
@use 'util' as *;
@use 'mixins' as *;

.topics {
    display: flex;
    flex-direction: column;

    .#{ $cl-page-inactive } > & {
        display: none;
    }
    
    &__section {
        width: 50%;
        height: to-vh($h-main-section);
        margin-top: to-vh($h-main-section-gap-vl);
        text-align: center;
        
        @include viewport(0, md) {
            margin-top: to-vh($h-main-section-gap-vs);
        }

        // Invisible proxy buttons
        &-button {
            @include focus-outline;
            
            position: relative;
            z-index: $z-buttons;
            padding: 2rem 2rem 4rem;
            border: none;
            rotate: $label-angle;
            font-family: $f-fam-title;
            font-size: $f-size-section;
            letter-spacing: $label-letter-space;
            line-height: $label-line-height;
            color: transparent;
            background: none;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;

            &::selection {
                color: transparent;
            }

            &.#{ $cl-topic-button-disabled } {
                pointer-events: none;
                color: transparent;

                &:focus-visible {
                    outline: 0px;
                }

                &::selection {
                    background-color: transparent;
                }
            }
        }
    }

    @include viewport(0, md) {
        // Account for viewport height changes due to mobile browser sliding nav bar
        margin-top: calc(100dvh - var(#{ $var-page-height }));
        align-items: center;

        &__section {
            width: 100%;

            &-button {
                font-size: $f-size-section-sm;
                letter-spacing: $label-letter-space-sm;
                line-height: $label-line-height-sm;
                margin-top: to-vh($h-main-item-offset-vs);
                padding: 1.5rem;
            }
        }
    }

    @include viewport(md) {
        align-items: start;

        &__section {
            &:nth-child(2n) {
               align-self: end;
            }
        }
    }
}